<% wrap_layout :layout do %>
  <div class='panel panel-default'>
    <article class='panel-body'>
      <div class='lead'>
        <%= current_article.title %>
      </div>

      <%= current_article.body %>
    </article>
  </div>
<% end %>
